*{
	margin: 0;
	padding: 0;
	transition: 0.2s linear;
	-webkit-transition:0.2s linear;
	-moz-transition:0.2s linear;
	-ms-transition:0.2s linear;
	-o-transition:0.2s linear;
}

html{
	scroll-behavior: smooth;
	overflow: scroll;
}

/*************NavBar CSS****************/
.loader_bg{
		display: grid;
		position: fixed;
		background:darkblue;
		z-index: 999999;
		width: 100%;
		height: 100%;
		place-items: center;
	}
.container{
	display: none;
	cursor: pointer;
}
#logo{
	height: 60px;
	width: 60px;
}
@media (min-width:768px){
	.container{
		width: 400px;
	}
}
.container{
	display: inline;
}

.nav-link{
	color:blue;
}
.dropdown-menu a:hover{
	background-color:lightgray;
}
	.background ul li{
	margin-left: 10px;	
}
.bgColor{
	background-color: #a5a5a5;
}
.navbar{
	background: fixed;
}
	.nav-link{
	padding: 2px;
}
.nav-item .active{
	padding: 10px;
	color: white;
	background-color: #e14253;
	width: 60px;
	text-align: center;
}
.dropdown-toggle{
	padding: 10px;
	border-color: #ffff;
}
.dropdown-toggle:hover{
	background-color: #fb8c00;
	transition: 0.5s;
}
.dropdown-menu{
	border-color: #ffff;
}
@media (max-width:768px){
	.dropdown-item{
	color: #ffff;
	background-color: #a5a5a5;
}
.loading{
	font-size: 10px;
}
}

.rm-dt{
padding: 10px;
}
.rm-dt:hover{
	background-color: #fb8c00;
	transition: 0.5s;
}

.container_1{
		display: grid;
		place-items: center;
}

	.container_1:before{
	animation-delay:.5s;
}
	.ring{
		width: 150px;
		height: 150px;
		border: 0px solid #011015;
		border-radius: 50%;
		position: absolute;
	}
	.ring:nth-child(1){
		border-bottom-width: 8px;
		border-color: rgb(0,247,255);
		animation: rotate1 2s linear infinite;
	}
	.ring:nth-child(2){
		border-right-width: 8px;
		border-color: rgb(255,0,255);
		animation: rotate2 2s linear infinite;
	}
	.ring:nth-child(3){
		border-top-width: 8px;
		border-color: rgb(0,255,13);
		animation: rotate3 2s linear infinite;
	}
	@keyframes rotate1{
		0%{
			transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
		}
		100%{
			transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		}
	}
		@keyframes rotate2{
		0%{
			transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
		}
		100%{
			transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		}
	}
	@keyframes rotate3{
		0%{
			transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
		}
		100%{
			transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		}
	}
	.loading{
		color: gold;
		font-size: 10px;
		font-family: Century;
	}
.container_1:before, .container_1:after{
	content: '';
	border: 1em solid #ff5733;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	animation: loader 2s linear infinite;
	opacity: 0;
}
/*************End NavBar CSS****************/
/*************First Section CSS****************/
.carousel-item{
	background-color: black;
}
.c-item{
	height: 600px;
}
.c-img{
	box-shadow: 0 10px 20px 30px;
	height: 100%;
	object-fit: cover;
}
.overlay-img{
	opacity: 0.5;

}
@media (max-width:991px){
	.c-item{
	height: 400px;
}
.display{
display: flex;
}
}
/*************End Section CSS****************/
/*************Second Section CSS****************/

.line{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
.title img{
	width: 50px; 
	height: 50px;
	margin-left:40px;
}
.title{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	column-gap: 1rem;
	width: 400px;

}
.div-img{
		width: 100%;
		align-items: center;
		margin-left: 100px;
	}
.div-img img{
	height:350px;
	width: 350px;
	margin-top: 40px;
}
.div-content{
	text-align: justify;
	margin-right: 100px;
	margin-left: -100px;
	margin-top: 80px;
}
.div-sec{
	height: 500px;
}
@media (max-width:991px){
	.div-img img{
	height:300px;
	width: 300px;
}
.div-img{
		margin-left: 0;
	}
	.div-content{
	margin-right: 0;
	margin-left: 0;
}
.div-sec{
	height: auto;
}
}

.title::before,.title::after{
content: "";
height: 2px;
background-color: #000;
display: block;
}
@media (max-width:767px){
	.title{
	width: 250px;
}
.title img{
	margin-left:10px;
}
}
/*************End  Section CSS****************/
/*************Third Section CSS****************/
h4{
	text-align: center;
	margin-top: 10px;
}
.img_prov{
	height: 50px;
	margin-top: 10px;
	
}
.res-d{
padding: 40px;
}
@media (max-width:768px){
.res-d{
	padding: 0px;
	margin-left: 10px;
}
}
.mb{
	width: max-content;
	font-size: 30px;
	font-family: Sitka Subheading Semibold;
	text-transform: uppercase;
	color: darkgreen;
	position: relative;
	cursor: pointer;
	margin: 20px auto;
}
.mb::after{
	content: "";
	position: absolute;
	bottom: -5px;
	height: 4px;
	width: 100%;
	left: 0;
	background: #000;
	transition: 0.3s;
	transition-timing-function:ease-in-out;
	transform: scaleX(0);
}
.mb:hover::after{
	transform: scaleX(1);
}
@media (max-width:768px){
	.mb{
		font-size: 25px;
	}
	.mb::after{
		height: 2px;
	}
}
.inner{
	overflow: hidden;
}
.inner img{
	height: 260px;
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.5);
}
/*************End  Section CSS****************/
/*************Fourth Section CSS****************/

.row{
	margin:0;
	margin-left: 10px;
}
.single-content{
	margin: 0;
	position: relative;
	transition: .3s;
	object-fit: cover;
	background-attachment: fixed;
}
.single-content .text-content,
.single-content:after{
	position: absolute;
	left: 0;
	right: 30px;
}
.text-content{
	margin-left: -20px;
}
.single-content:after{
	content: '';
	display: block;
	background: crimson;
	transform: scale(0.5);
	top:0px;
	bottom: 20px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .4s;
}
.single-content:hover:after{
	opacity: .9;
	transform: rotate3d(0, 0, 0, 0deg);
}
.single-content img{
	height: 330px;
	width: 100%;
}
@media (max-width:991px){
	.single-content img{
		height: 250px;
	margin-left: -20px;
}
.single-content .text-content,
.single-content:after{
	position: absolute;
	left: -20px;
}
}
.text-content{
	top: 45%;
	opacity: 0;
	z-index: 1;
	transform: translate(10%,-30%);
	transition: .3s;
	text-align: center;
	color: #fff;
	width: 100%;
}
.text-content h4{
font-family: big john;
}
.single-content:hover .text-content{
	right: 40px;
	opacity: 1 ;
	transition-delay: .1s;

}
.col-md-4{
	margin-top: 20px;
}
@media (max-width:768px){
	.single-content{
		margin-left: 40px;
	}
}


/*************End  Section CSS****************/
/*************Five Section CSS****************/
.count-font{
	font-size: 25px;
}
.fun-fact{
	font-size: 30px;
	font-weight: 500;
}
.counter-wrapper{
	background: url(images/pic_3.jpg);
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	padding: 5rem 9%;
	margin-top: 5rem;
	
	height: 200px auto;
	position: relative;
}
.counter-wrapper::before{
	position: absolute;
	content: '';
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #de5d29;
	opacity: 0.8;
	z-index: 1;
}
.counter{
	text-align: center;
	color: white;
	z-index: 2;
	position: relative;
	cursor: pointer;
}
.counter::before{
	position: absolute;
	content: '';
	bottom: -2rem;
	left: 50%;
	width: 20%;
	background: #4db7fe;

	transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-o-transform: translateX(-50%);
}
.counter .count{
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.counter p{
	font-size: 1.0rem;
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
}

@media (max-width:768px){
	.counter-wrapper{
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 2rem;
	}
}


/*************End  Section CSS****************/

/*************Footer Section CSS****************/
footer{
	width: 100%;
	margin:0;
	padding:0;
}
.footer_img{
	width: 200px;
	height: 140px;
	cursor: pointer;
}

.pointing{
	cursor: pointer;
}
.pointing:hover{
	color: green;
}
.hover:hover{
	color: greenyellow;
}
.social{
	background-color: black;
	  background: transparent;
}
.social:hover{
	color:greenyellow;
}
.card_1{
	width:200px;
	height: 140px;
}
.inner_1{
	overflow: hidden;
}
.inner_1 img{
	transition: all 1.5s ease;
}
.inner_1:hover img{
	transform: scale(1.5);
}
.mb_1{

	width: max-content;
	position: relative;
	cursor: pointer;
	margin: 20px auto;
}
.mb_1::after{
	content: "";
	position: absolute;
	bottom: -5px;
	height: 2px;
	width: 100%;
	left: 0;
	background: #fff;
	transition: 0.3s;
	transition-timing-function:ease-in-out;
	transform: scaleX(0);
}
.mb_1:hover::after{
	transform: scaleX(1);
}
/*************End Footer Section CSS****************/
/**********another css***********/
.carousel-caption{
	color: white;
}
.both-div{
	display: block;
}
.first-div{
	width: 500px;
}
.second-div{
	width: 800px;
	padding: 20px;
	margin-top: 60px;
	text-align: justify;
}
.text{
	text-align:right;
}
